@page
@using Microsoft.AspNetCore.Identity
@using Vegefood.Models
@model Vegefood.Pages.CartModel
@inject SignInManager<ApplicationUser> SignInManager
@{
	ViewData["Title"] = "My Cart";
}

<div class="hero-wrap hero-bread" style="background-image: url('images/bg_1.jpg');">
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<p class="breadcrumbs"><span class="mr-2"><a href="/Index">Home</a></span> <span>Cart</span></p>
				<h1 class="mb-0 bread">My Cart</h1>
			</div>
		</div>
	</div>
</div>
@if(Model.CartItem.Count() > 0){
<section class="ftco-section ftco-cart">
	<div class="container">
		<div class="row">
			<div class="col-md-12 ftco-animate">
				<div class="cart-list">
					<table class="table">
						<thead class="thead-primary">
							<tr class="text-center">
								<th>&nbsp;</th>
								<th>&nbsp;</th>
								<th>Product name</th>
								<th>Price</th>
								<th>Quantity</th>
								<th>Total</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model.CartItem)
							{
							<tr class="text-center">
								<form method="post">
									<td><button class="" style="width: 30px;" type="submit" asp-page-handler="delete" asp-route-id="@item.ProductID"><span class="ion-ios-close"></span></button></td>

									<td class="image-prod"><div class="img" style="background-image:url(@item.Product.Image);"></div></td>
								<td class="product-name">
									<h3>@item.Product.Name</h3>
									@*<p>Far far away, behind the word mountains, far from the countries</p>*@
								</td>

								<td class="price">$@item.Product.Price</td>

								<td class="quantity">
									<div class="input-group mb-3">
											<input asp-for="@item.Quantity" type="number" name="Quantity" class="quantity form-control input-number" value="@item.Quantity" min="1" max="100">
									</div>
								</td>

								<td class="total">$@(item.Product.Price * item.Quantity)</td>
								<td><button type="submit" asp-page-handler="update" asp-route-id="@item.ProductID" class="btn btn-primary py-3 px-4 text-white">Update Cart</button></td>
								</form>
							</tr><!-- END TR-->
							}
						
						</tbody>
					</table>
				</div>

			</div>
		</div>
		<div class="row justify-content-end">
			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
				<div class="cart-total mb-3">
					<h3>Coupon Code</h3>
					<p>Enter your coupon code if you have one</p>
					<form action="#" class="info">
						<div class="form-group">
							<label for="">Coupon code</label>
							<input type="text" class="form-control text-left px-3" placeholder="">
						</div>
					</form>
				</div>
				<p><a href="checkout.html" class="btn btn-primary py-3 px-4">Apply Coupon</a></p>
			</div>
			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
				<div class="cart-total mb-3">
					<h3>Estimate shipping and tax</h3>
					<p>Enter your destination to get a shipping estimate</p>
					<form action="#" class="info">
						<div class="form-group">
							<label for="">Country</label>
							<input type="text" class="form-control text-left px-3" placeholder="">
						</div>
						<div class="form-group">
							<label for="country">State/Province</label>
							<input type="text" class="form-control text-left px-3" placeholder="">
						</div>
						<div class="form-group">
							<label for="country">Zip/Postal Code</label>
							<input type="text" class="form-control text-left px-3" placeholder="">
						</div>
					</form>
				</div>
				<p><a href="checkout.html" class="btn btn-primary py-3 px-4">Estimate</a></p>
			</div>
			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
				<div class="cart-total mb-3">
					<h3>Cart Totals</h3>
					<p class="d-flex">
						<span>Subtotal</span>
						<span>$@Model.Total</span>
					</p>
					<p class="d-flex">
						<span>Delivery</span>
						<span>$0.00</span>
					</p>
					<p class="d-flex">
						<span>Discount</span>
						<span>$0.00</span>
					</p>
					<hr>
					<p class="d-flex total-price">
						<span>Total</span>
						<span>$@Model.Total</span>
					</p>
				</div>
				<p><a href="/Checkout" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
	<div class="container py-4">
		<div class="row d-flex justify-content-center py-5">
			<div class="col-md-6">
				<h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
				<span>Get e-mail updates about our latest shops and special offers</span>
			</div>
			<div class="col-md-6 d-flex align-items-center">
				<form action="#" class="subscribe-form">
					<div class="form-group d-flex">
						<input type="text" class="form-control" placeholder="Enter email address">
						<input type="submit" value="Subscribe" class="submit px-3">
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
}else{
<section class="ftco-section ftco-cart">

	<p class="text-center">Continue to shop to add to your cart!</p>
		<p class="text-center"><a href="/Shop" class="btn btn-primary py-3 px-4">Continue Shopping</a></p>
	</section>
}